/* -------------- General ---------------- */
@import url('https://fonts.googleapis.com/css?family=Nunito');

.App {
  text-align: center;
  font-family: "Nunito", serif;
  color: #cbcbcb;
}

.background-colour {
  background: #535353;
}

#footer {
  height: 50px;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  align-content: flex-end;
  text-align: right;
}

body {
  margin: 0;
  background: #535353;
}

#bars {
  -webkit-column-count: 50;
  -webkit-column-gap: 2px;
  column-gap: 2px;
  column-count: 50;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  color: #2f2f2f;
}

.button {

  font-family: "Nunito", serif;
  color: #dbdbdb;

  background: rgba(0, 0, 0, 0);

  text-decoration: none;
  outline: none;

  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0 0 0 10px;

  font-size:   18px;
  text-align:  center;

  transition:  0.1s;
}

.button:hover {
  font-size: 115%;
  color: #ffffff;
}

@keyframes click {
  0% {
    font-size: 100%;
  }
  50% {
    font-size: 95%;
  }
  100% {
    font-size: 100%;
  }
}

.button:focus {
  animation: click ease 0.1s;
}

#menu {
  background: #5d5d5d;
  border-bottom: solid 1px rgb(105, 105, 105);

  margin: 0;
  padding: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: #646464;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content button {
  text-decoration: none;
  display: block;
  padding: 10px 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #b0b0b0; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #484848; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #8a8a8a; /* Green background */
  cursor: pointer; /* Cursor on hover */
}